* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

body {
     background-color: #2f365f;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import '~@angular/material/prebuilt-themes/indigo-pink.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
